@font-face {
  font-family: "iconfont"; /* Project id 5023352 */
  src: url('iconfont.woff2?t=1758783949858') format('woff2'),
       url('iconfont.woff?t=1758783949858') format('woff'),
       url('iconfont.ttf?t=1758783949858') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-danmushu:before {
  content: "\e665";
}

.icon-bofangliang:before {
  content: "\e607";
}

.icon-tougao:before {
  content: "\e615";
}

.icon-denglu:before {
  content: "\e611";
}

.icon-shoucang:before {
  content: "\e63d";
}

.icon-bilibili-fill:before {
  content: "\ea95";
}

.icon-uper:before {
  content: "\e600";
}

.icon-xiazai:before {
  content: "\e606";
}

.icon-01-shequzhongxin:before {
  content: "\e801";
}

.icon-lishi:before {
  content: "\e608";
}

.icon-zhuanlan:before {
  content: "\e605";
}

.icon-zhibo:before {
  content: "\e67d";
}

.icon-huodong:before {
  content: "\e60e";
}

.icon-chuangzuozhongxin:before {
  content: "\e70e";
}

.icon-xingerebang:before {
  content: "\e60b";
}

.icon-ketangkaoqin:before {
  content: "\e60f";
}

.icon-remen:before {
  content: "\e8f4";
}

.icon-dongtai1:before {
  content: "\e612";
}

.icon-wodedahuiyuan:before {
  content: "\e6c3";
}

.icon-xiaoxi:before {
  content: "\e6f5";
}

.icon-dongtai:before {
  content: "\e7ae";
}

.icon-bilibili-line:before {
  content: "\ea96";
}

.icon-sousuo:before {
  content: "\e602";
}

